html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
}

/* wrapper sempre com pelo menos a altura da janela */
#app-wrapper {
    min-height: 100vh;
}

/* sidebar a esticar até ao fundo */
#sidebar {
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}


/* Conteúdo ocupa o resto */
#page-content {
    flex: 1 1 auto;
}